@page "/aboutme"

<a class="main" style="position: absolute; left: 10px;" href="/info">back</a>

<h1>About Me</h1>
<p>Since this is a personal website, and one not likely to gain many views, I will try to keep this from being too cookie-cutter
    or a explanation of myself based solely on my professional experience. I am a human being and a product of my (mostly mundane) 
    life experiences, like everyone else. I've spent a lot of time and mental energy at school. I've always taken education seriously,
    and I try to be a "sponge" in regards to soaking up and mentally catalouging new information. 
    I read a lot, both online and paper books. For paper books I usually prefer to read non-fiction science texts
    and historical biographies (currently slowly reading through Frank Barlow's English Monarchs Series).
</p>
<p>I've spent a lot of time listening to and playing music. My current preferred genre of music is bass music (favorite artists: Ivy Lab, EPROM,
    G Jones) and drum n bass (favorite artists: Sub Focus, Netsky, Camo & Krooked, High Contrast). I also like classic rock (favorite artists: Pink Floyd, Aerosmith), 
    hip hop (favorite artists: Spillage Village, AJ Tracey), 
    and instrumental (favorite artists: Chuck Mangione, Steve Vai) </p>
<p>I spend a lot of time with my friends, both online and in-person. My preferred friend activities are playing video games and 
    exploring new places. I have lived within the same hundred-square miles or so for my entire life, so I have a strong network of friends
    and family that keep me entertained and grounded in my day to day life. </p>
<p>I appreicate fashion and the aesthetics of a well-dressed person. I try to keep up with fashion trends, especially 
    in menswear and streetwear. I'm not big on frivolously spending money to keep up with trends, but it intrigues me to know
    what types of pieces stand the test of time in terms of public opinion. I also appreciate the "always-changing" aspect of fashion,
    especially in menswear. In this day and age, lots of experimental textiles and designers are at the forefront of modern fashion,
    which means even more options when choosing how I get to dress myself.
    </p>