@page "/"


<div id="masthead" xmlns="http://www.w3.org/1999/html">
    <div id="wrapper">
        <div id="welcome">
            <h1>Hi there.</h1>
            <h3>This is the personal site of <a href="mailto:&#099;&#104;&#114;&#105;&#115;&#116;&#097;&#110;&#115;&#098;&#117;&#114;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Chris Stansbury</a>.</h3>
            <p id="lead">
                I write <a href="https://github.com/gk-per">open-source code on GitHub</a> and work at <a href="https://revelry.co/">Revelry</a> as a software engineer. I enjoy building APIs and distributed web applications that run really fast, then showing people the benchmarks. I also really like music, astronomy, and traveling. 
                Sometimes I write about technical topics that interest me. I post my writings to a <a href="https://github.com/gk-per/writings">separate GitHub repo</a> where they can be read by anyone who is interested.
            </p>
        </div>
    </div>
</div>
