@page "/"


<div id="masthead">
    <div id="wrapper">
        <div id="welcome">
            <h1>Hi there.</h1>
            <h3>This is the personal site of <a href="mailto:&#099;&#104;&#114;&#105;&#115;&#116;&#097;&#110;&#115;&#098;&#117;&#114;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Chris Stansbury</a>.</h3>
            <p id="lead">
                I write <a href="https://github.com/gk-per">open-source code on GitHub</a> and work at IBM as a software developer. I enjoy building APIs and web applications, music, astronomy, and traveling. I love solving problems and maximizing efficiency through technology, both hardware and software.
            </p>
            <a href="/info">Click here</a> for more information about me.
        </div>
    </div>
</div>
