@page "/info"
<div id="welcome">
        <a style="position: absolute; left: 50px;" href="/">back</a>
    <div id="info-list">
        <h1>Info</h1>
        <a href="/likes">A list of the main things I enjoy</a>
        <br>
        <a href="/aboutme">Even more about me</a>
    </div>
</div>



@code {
}
